.dystopia-checkbox,
.dystopia-checkbox [type='checkbox'] {
  cursor: pointer;
}

.dystopia-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--padding);
}
